{% extends 'base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}

    <div style="margin-top:30px;">
        <form action="" method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: red">{{ error }} </p>

            {% endif %}
            {{ form.as_p }}
            <button type='submit'> Login</button>

        </form>

        <p>Need an acccount? Please <a href="/register">Register</a></p>

    </div>
{% else %}
    <p>your already logged in...  <a href="/logout/"> logout</a></p>
{% endif %}
{% endblock %}
